@font-face {
	font-family: 'bubblio';
	src:url('fonts/bubblio.eot');
	src:url('fonts/bubblio.eot?#iefix') format('embedded-opentype'),
		url('fonts/bubblio.woff') format('woff'),
		url('fonts/bubblio.ttf') format('truetype'),
		url('fonts/bubblio.svg#bubblio') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'bubblio';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="i"] {
*/
.idroplet, .ifolder-open, .ifolder, .ispinner, .ilock, .iunlocked, .iremove, .icog, .icancel-circle, .icheckmark-circle, .ispam, .iclose, .icheckmark, .icheckmark-2, .iminus, .iplus, .iradio-checked, .iradio-unchecked, .iheart, .iheart-2, .icloud, .ibubblio {
	font-family: 'bubblio';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.idroplet:before {
	content: "\e000";
}
.ifolder-open:before {
	content: "\e006";
}
.ifolder:before {
	content: "\e007";
}
.ispinner:before {
	content: "\e00b";
}
.ilock:before {
	content: "\e00c";
}
.iunlocked:before {
	content: "\e00d";
}
.iremove:before {
	content: "\e00f";
}
.icog:before {
	content: "\e010";
}
.icancel-circle:before {
	content: "\e011";
}
.icheckmark-circle:before {
	content: "\e012";
}
.ispam:before {
	content: "\e013";
}
.iclose:before {
	content: "\e014";
}
.icheckmark:before {
	content: "\e015";
}
.icheckmark-2:before {
	content: "\e016";
}
.iminus:before {
	content: "\e017";
}
.iplus:before {
	content: "\e018";
}
.iradio-checked:before {
	content: "\e024";
}
.iradio-unchecked:before {
	content: "\e025";
}
.iheart:before {
	content: "\e026";
}
.iheart-2:before {
	content: "\e027";
}
.icloud:before {
	content: "\e03c";
}
.ibubblio:before {
	content: "\e03d";
}
