$sans: "Ubuntu", "Helvetica", Arial, sans-serif;
$serif: "Noticia Text", Georgia, serif;
$mono: "Ubuntu Mono", "Courier New", monospace;


h1, h2, h3, h4, h5, h6, a, span, li, p {
	font-family: #{$sans};
	font-weight: normal;
	&.light {font-weight: lighter;}
	&.bold {font-weight: bolder;}
	&.serif {font-family: #{$serif};}
	&.subheader {
		font-weight: bolder;
		letter-spacing: 0.2rem;
		text-transform: uppercase;
	}
}
